In [4]:
web={
    'header':'header.html',
    'footer':'footer.html',
    'content':''   
}

In [24]:
def readfile(filename:str):
    """
    takes in a file name and reads it
    """
    with open(filename, "r") as file_handle:
        file_contents = file_handle.read()
        return file_contents
    
def create_index(filename:str,filecontent:str):
    with open(filename, "w") as file_handle:
        file_handle.write(filecontent)

In [8]:
header_content=readfile(web['header'])
print(header_content)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Web Page</title>
</head>
<body>

In [9]:
footer_content=readfile(web['footer'])
print(footer_content)

</body>
</html>

In [10]:
import pandas as pd
import random as r

In [ ]:
list(range)

In [14]:
x=list(range(1,11))
y=[r.randint(1,100) for i in x]

data={
    'x':x,
    'y':y
}

In [15]:
df=pd.DataFrame(data)

In [16]:
df

    x   y
0   1  38
1   2  29
2   3  60
3   4  26
4   5  51
5   6  86
6   7  87
7   8   2
8   9  94
9  10  13

In [21]:
web['content']=df.to_html(index=False,table_id='sales')

In [22]:
web['content']

'<table border="1" class="dataframe" id="sales">\n  <thead>\n    <tr style="text-align: right;">\n      <th>x</th>\n      <th>y</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>1</td>\n      <td>38</td>\n    </tr>\n    <tr>\n      <td>2</td>\n      <td>29</td>\n    </tr>\n    <tr>\n      <td>3</td>\n      <td>60</td>\n    </tr>\n    <tr>\n      <td>4</td>\n      <td>26</td>\n    </tr>\n    <tr>\n      <td>5</td>\n      <td>51</td>\n    </tr>\n    <tr>\n      <td>6</td>\n      <td>86</td>\n    </tr>\n    <tr>\n      <td>7</td>\n      <td>87</td>\n    </tr>\n    <tr>\n      <td>8</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <td>9</td>\n      <td>94</td>\n    </tr>\n    <tr>\n      <td>10</td>\n      <td>13</td>\n    </tr>\n  </tbody>\n</table>'

In [20]:
index_content=header_content+web['content']+footer_content

In [ ]:
index_content

In [25]:
header_content=readfile(web['header'])
footer_content=readfile(web['footer'])
web['content']=df.to_html(index=False,table_id='sales')
index_content=header_content+web['content']+footer_content
create_index('index.html',index_content)